.about-section {
    min-height: 100vh;
}

.section-photo {
    position: relative;
}

.title {
    padding: 0px 195px;
    font-family: var(--font-dzuarikau);
    font-size: 84px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
    /* margin-left: 130px;
    margin-bottom: -35px; */
    color: #696054;
}

.photo {
    /* position: relative; */
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.h5-and-p-box  {
    position: absolute;
    bottom: 40px;
    left: 130px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 600px;
}

.more-btn-and-h5-wrapper {
    display: flex;
    justify-content: space-between;
}

.h5 {
    font-family: var(--font-dzuarikau);
    text-transform: uppercase;
    font-weight: lighter;
    color: #e9a94f;
    font-size: 42px;
}

.paragraph {
    /* font-family: 'Inter', sans-serif; */
    font-size: 17px;
    font-weight: 10;
    text-align: left;
    line-height: 1.5;
    color: white;
}
