.about-section {
    min-height: 100vh;
}

.section-photo {
    position: relative;
}

.title {
    padding: 0px 150px;
    font-family: var(--font-dzuarikau);
    font-size: 84px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
    color: #696054;
}

@media (max-width: 768) {
    .about-section {
        margin-bottom: 40px;
    }
    .title {
        padding: 0px 16px;
        font-family: var(--font-dzuarikau);
        font-size: 84px;
        font-weight: lighter;
        text-transform: uppercase;
        text-align: left;
        color: #696054;
    }

    .photo {
        object-fit: cover;
        width: 100%;
        height: 60%;
    }

    .section-photo {
        position: relative;
    }
}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.h5-and-p-box  {
    position: absolute;
    bottom: 40px;
    left: 130px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 600px;
}

@media (max-width: 768px) {
    .h5-and-p-box  {
        display: none;
    }

    .mobile-768-description {
        color: var(--text-light);
        font-size: 18px;
        padding: 15px;
        background-color: #696054;
        align-items: flex-end;
    }

    .mobile-768-description p{
        color: var(--text-light);
        font-size: 18px;
        padding: 15px;
        background-color: #696054;
    }


    .photo {
        object-fit: cover;
        width: 50em;
        height: 22em;
        display: block;
    }
}

@media (max-width: 480px) {
    .about-section {
        margin-bottom: 40px;
    }

    .h5-and-p-box  {
        display: none;
    }
    
    .mobile-768-description {
        color: var(--text-light);
        font-size: 18px;
        padding: 15px;
        background-color: #696054;
        align-items: flex-end;
    }

    .mobile-768-description p{
        display: flex;
        color: var(--text-light);
        font-size: 18px;
        background-color: #696054;
    }

    .photo {
        object-fit: cover;
        width: 25em;
        height: 15em;
        background-color: #696054;
        display: block;
    }
}

.more-btn-and-h5-wrapper {
    display: flex;
    justify-content: space-between;
}

.h5 {
    font-family: var(--font-dzuarikau);
    text-transform: uppercase;
    font-weight: lighter;
    color: #e9a94f;
    font-size: 42px;
}

.paragraph {
    font-size: 17px;
    font-weight: 10;
    text-align: left;
    line-height: 1.5;
    color: white;
}

.mobile-768-description {
    display: none;
}

@media (max-width: 768px) {
    .mobile-768-description {
        display: flex;
        flex-direction: column;
        font-size: 17px;
        font-weight: 10;
        text-align: left;
        line-height: 1.5;
        color: white;
    }
}
