.about-section {
    min-height: 100vh;
}

.section-title {
    padding: 0px 195px;
    font-family: 'DzuarikayFont', sans-serif;
    font-size: 84px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
    /* margin-left: 130px;
    margin-bottom: -35px; */
    color: #696054;
}