.title-wrapper {
    display: flex;
    align-items: center;
}

.title {
    padding: 0px 150px;
    font-family: var(--font-dzuarikau);
    font-size: 100px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
    color: #696054;
    line-height: 1;
}

@media (max-width: 768px) {
    .title {
        padding: 0px 16px;
        font-size: 70px;
        line-height: 1;
    }

    .display-none {
        display: none;
    }
}