.title {
    padding: 0px 150px;
    font-family: var(--font-dzuarikau);
    font-size: 84px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
    /* margin-left: 130px;
    margin-bottom: -35px; */
    color: #696054;
}