.foto-gallery-section {
    padding: 0px 40px;
    margin-bottom: 100px;
}

.desktop-foto-gallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 12px;
    margin-bottom: 9px; /* Отступы между элементами */
}

.foto-gallery-item-wrapper {
    flex: 0 0 calc(50% - 6px); /* 50% ширины минус половина gap */
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.foto-gallery-item-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

.desktop-foto-cards-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 12px;
}

.foto-card-wrapper {
    flex: 1; /* Каждый элемент занимает равную долю пространства */
    min-width: 0; /* Важно для корректного сжатия изображений */
}

.foto-card-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    /* height: 270px; */
    border-radius: 12px;
}

.mobile-foto-gallery-container {
    display: none;
}



@media (max-width: 768px) {
    .foto-gallery-section {
        padding: 0px 0px;
        margin-bottom: 100px;
    }

    .foto-gallery-item-wrapper {
        flex: 0 0 100%;
        margin-bottom: 12px;
    }

    .foto-card-wrapper__left img {
        width: 100%;
        object-fit: cover;
        height: 134px;
        border-radius: 0 12px 12px 0;
        display: none;
        margin: 12px 0;
    }

    .foto-card-wrapper__right img {
        width: 100%;
        object-fit: cover;
        height: 134px;
        border-radius: 12px 0 0 12px;
        display: none;
        margin: 12px 0;
    }

    .mobile-foto-gallery-container {
        display: block;
        gap: 12px;
    }

    .desktop-foto-gallery-container {
        display: none;
    }
    .desktop-foto-cards-container {
        display: none;
    }

    .mobile-foto-cards-container {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        gap: 12px;
    }
}




@media (max-width:480px) {

     .foto-gallery-item-wrapper {
        margin-bottom: 0px;
    }

    /* .foto-card-wrapper {
        flex: 1;
        min-width: 0;
    } */

    .foto-card-wrapper__left img {
        width: 100%;
        object-fit: cover;
        height: 134px;
        border-radius: 0 12px 12px 0;
        display: block;
        margin: 12px 0;
    }

    .foto-card-wrapper__right img {
        width: 100%;
        object-fit: cover;
        height: 134px;
        border-radius: 12px 0 0 12px;
        display: block;
        margin: 12px 0;
    }
}