.restaurant {
    display: flex;
    background-color: blueviolet;
}

.rest-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: 112px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: var(--font-dzuarikau);
    z-index: 3;
}

.food-cards-section {
    padding: 0px 40px;
    margin-bottom: 100px;
}

.food-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.food-card-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
}

.food-item-wrapper  {
    position: absolute;
    width: 370px;
    height: 140px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 14px 14px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    border-radius: 12px;
    z-index: 1;
}

.menu-btn-and-h5-wrapper {
    display: flex;
    justify-content: space-between;
}

.h5 {
    font-family: var(--font-dzuarikau);
    font-weight: lighter;
    color: #e9a94f;
    font-size: 36px;
}

.paragraph {
    font-size: 17px;
    font-weight: 10;
    text-align: left;
    line-height: 1.5;
    color: white;
}