/* .restaurant {
    display: flex;
    position: relative;
    min-height: 100vh;
} */

.food-cards-section {
    margin-bottom: 100px;
}

.food-cards-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    gap: 20px;
}

.food-card-wrapper {
    /* flex: 1; */
    display: flex;
    padding: 0 14px;
    position: relative;
    /* width: fit-content; */
}

.food-item-wrapper  {
    position: absolute;
    width: 370px;
    height: 140px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 14px 14px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    border-radius: 12px;
    z-index: 1;
}

.menu-btn-and-h5-wrapper {
    display: flex;
    justify-content: space-between;
}

.h5 {
    font-family: var(--font-dzuarikau);
    font-weight: lighter;
    color: #e9a94f;
    font-size: 36px;
}

.paragraph {
    font-size: 17px;
    font-weight: 10;
    text-align: left;
    line-height: 1.5;
    color: white;
}

.info-cards-container {
    display: none;
}

.mobile-image {
    display: none;
}





@media (max-width: 768px) {
    .food-cards-section {
        margin-bottom: 100px;
    }

    .food-cards-container {
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        gap: 40px;
        /* padding: 0px 16px; */
        /* width: 90vw; */
        margin-top: 16px;
        
    }

    .food-item-wrapper  {
        position: absolute;
        width: 97%;
        height: 140px;
        left: 11;
        right: 0;
        bottom: -10;
        transform: translateX(0%);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        padding: 16px 16px;
        box-sizing: border-box;
        color: white;
        text-align: left;
        border-radius: 12px;
        z-index: 1;
        /* margin: 0px 12px; */
    }

    .desktop-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100vw;
    }
}

@media (max-width: 480px) {
    .food-item-wrapper  {
        position: absolute;
        width: 94%;
        height: 140px;
        left: 11;
        right: 0;
        bottom: -10;
        transform: translateX(0%);
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        padding: 16px 16px;
        box-sizing: border-box;
        color: white;
        text-align: left;
        border-radius: 12px;
        z-index: 1;
        /* margin: 0px 12px; */
    }
}