.container {
  position: relative;
  display: flex;
  height: min-content;
}

.more-place-btn {
    display: flex;
    width: min-content;
    height: fit-content;
    padding: 10px 17px;
    border-radius: 10px;
    background-color: rgba(233, 169, 79, 0.18);
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #C2C2C2;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* .more-place-btn:hover {
  background: rgba(177, 128, 60, 0.18);
} */

.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  font-size: 12px;
  margin-left: 4px;
}

.open  {
  border-radius: 10px 10px 0 0;
}

.open .arrow {
  transform: rotate(180deg);
}


.price {
  position: absolute;
  top: 100%;
  right: 0px;
  width: 100%;
  text-align: center;
  padding: 8px 8px;
  background-color: rgba(233, 169, 79, 0.18);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 18px;
  color: #C2C2C2;
  /* white-space: nowrap; */
  animation: slideDown 0.3s ease;
}



@media (max-width: 768px) {
    .more-place-btn {
        display: none;
    }
}




@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}