.booking-form {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.form-container {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    border-radius: 6px;
    background-color: white;
    align-content: center;
    width: 180px;
    height: 50px;
    box-sizing: border-box;
}

.input {
    border: none;
    color: #333;
    font-size: 16px;
    width: 180px;
    padding: 16px 36px 4px 6px;
    background-color: white
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

input:focus {
    outline: none;
}

.label-inside {
    position: absolute;
    top: 7px;
    left: 12px;
    font-size: 12px;
    color: #a1a1a1;
    pointer-events: none;
    z-index: 2;
}

.calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    pointer-events: none;
    opacity: 0.6;
}

.hint-desktop {
    font-family: var(--font-inter-regular);
    font-size: 20px;
    color: #ffffff;
    padding-right: 10px;
    white-space: nowrap;
    line-height: 1.3;
    margin: 0;
}

.hint-mobile {
    display: none;
}

.btn {
    display: flex;
    width: 180px;
    height: 50px;
    font-size: 16px;
    padding: 0 66px;
    border-radius: 6px;
    border: none;
    background-color: #e9a94f;
    color: white;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}




@media (max-width: 1024px) {
    .booking-form {
      flex-direction: column;
      justify-content: flex-start;
    }
}

@media (max-width: 768px) {
    .booking-form {
        display: flex;
        width: 94%;
        flex-direction: column;
        backdrop-filter: blur(15px);
        background-color: rgba(161, 161, 161);
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        gap: 18px;
        position: absolute;
        bottom: -145px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        overflow: visible;
        /* margin: 0 16px; */
    }

    .form-container {
        gap: 6px;
    }

    .form-wrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    .hint-mobile {
        display: block;
        font-family: var(--font-inter-regular);
        font-size: 20px;
        color: #ffffff;
        padding-right: 10px;
        white-space: nowrap;
        line-height: 0.6;
        margin: 0;
        align-self: flex-start;
    }

    .hint-desktop {
        display: none;
    }

    .input-wrapper {
        width: 300px;
    }

    .input {
        width: 300px;
    }

    .btn {
        width: 300px;
    }
}

@media (max-width: 480px) {

    .form-wrapper {
        flex-direction: column;
    }

    .input-wrapper {
        width: 160px;
    }

    .input {
        width: 160px;
    }

    .btn {
        width: 160px;
    }
}