.bookingForm {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    gap: 18px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 75%;
}

.formField {
    position: relative;
    display: flex;
    flex-direction: column;
}

.inputWrapper {
    border-radius: 6px;
    background-color: white;
    align-content: center;
    width: 180px;
    height: 50px;
    box-sizing: border-box;
}

.input {
    border: none;
    color: #333;
    font-size: 16px;
}

.labelinside {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 12px;
    color: #a1a1a1;
    pointer-events: none;
    z-index: 2;
}

.calendarIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    pointer-events: none;
    opacity: 0.6;
}

.hint {
    font-size: 20px;
    font-weight: lighter;
    color: #ffffff;
    padding-right: 10px;
    white-space: nowrap;
    line-height: 1.3;
    margin: 0;
}

.btn {
    height: 50px;
    font-size: 16px;
    padding: 0 66px;
    border-radius: 6px;
    border: none;
    background-color: #e9a94f;
    color: white;
    font-weight: 600;
    cursor: pointer;
}