.bookingForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    align-items: flex-end;
    gap: 18px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.formField {
    display: flex;
    flex-direction: row;
}

.inputWrapper {
    display: flex;
    flex-direction: row;
}

.inputWrapper input[type="date"] {
    padding: 16px 12px 4px 12px;
    border-radius: 6px;
    border: none;
    background-color: white;
    color: #333;
    font-size: 16px;
    width: 180px;
    height: 50px;
    box-sizing: border-box;
    appearance: auto;
}
