.nav-container {
    display: flex;
    position: fixed;
    height: 80px;
    top: 0;  
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px 40px 0px;
    z-index: 1000;
    background-color: rgba(27, 21, 0, 0.4);
    backdrop-filter: blur(10px);
    border-bottom-left-radius: 8px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.nav-container--visible {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.triangle {
    font-size: 14px;
    padding-left: 2px;
}

.nav-and-phoneBtn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    color: var(--text-light);
}




@media (max-width: 768px) {
    .nav-container {
        display: none;
    }
}

@media (max-width: 480px) {
    .nav-container {
        display: none;
    }
}
