.nav-container__on {
    display: flex;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    padding: 20px 40px 0px;
    z-index: 1000;
    background-color: rgba(27, 21, 0, 0.4);
    backdrop-filter: blur(10px);
    transition: top 0.3s ease, opacity 0.3s ease;
    pointer-events: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 1;
    pointer-events: auto;
}

.nav-container__off {
    opacity: 0;
    position: absolute;
    top: -100px;
    transition: all 0.3s ease;
}

.nav-and-phoneBtn-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    color: var(--text-light);
}

