.hero-section {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    margin-bottom: 180px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.nav-container {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
}

.nav-container a {
    color: var(--text-light);
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-and-phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.phone-box {
    max-width: fit-content;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
    display: inline-block;
    height: fit-content;
    font-size: 16px;
    line-height: 1.6;
}

.main-logo {
    object-fit: contain;
    object-position: left;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}