.hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 100px;
}

.nav-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 40px;
    color: var(--text-light);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}

.display__off {
    display: none;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

.nav-and-phone {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.main-logo {
    object-fit: contain;
    object-position: left;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.triangle {
    font-size: 14px;
    padding-left: 2px;
}




@media (max-width: 768px) {
      .nav-wrapper {
        display: none;
    }

     .hero-section {
        position: relative;
        width: 100%;
        height: 25em;
        margin-bottom: 26vh;
        overflow: visible;
    }

    .nav-container {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px;
        color: var(--text-light);
    }

    .nav-and-phone {
        display: none;
    }

     .main-logo {
        width: 210px;
        height: 70px;
        object-fit: contain;
        object-position: left;
    }
}

@media (max-width: 480px) {
  .hero-section {
    position: relative;
    width: 100%;
    height: 25em;
    margin-bottom: 26vh;
  }
}