.two-foto-wrapper {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 20px;
    padding: 0px 40px;
}

.excursion-foto-section {
    flex: 1;
    min-width: 25%;
}

.title {
    padding: 0px 150px;
    font-family: var(--font-dzuarikau);
    font-size: 84px;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: left;
    color: #696054;
}

.section-photo {
    position: relative;
    width: 100%;
}

.photo {
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
}

.h5-and-p-box  {
    position: absolute;
    bottom: 40px;
    left: 50%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    transform: translateX(-50%);
    width: calc(100% - 60px);
}

.more-btn-and-h5-wrapper {
    display: flex;
    justify-content: space-between;
}

.h5 {
    font-family: var(--font-dzuarikau);
    text-transform: uppercase;
    font-weight: lighter;
    color: #e9a94f;
    font-size: 42px;
}

.paragraph {
    font-size: 17px;
    font-weight: 10;
    text-align: left;
    line-height: 1.5;
    color: white;
}

.margin-bottom {
    margin-bottom: 20px;
}

.more-foto-btn {
    display: none;
}




@media (max-width: 768px) {
    .two-foto-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 20px;
        padding: 0px;
    }

    .h5-and-p-box  {
        position: relative;
        bottom: 0px;
        left: 0%;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(0px);
        padding: 20px;
        border-radius: 0px;
        width: 100%;
        max-width: 100vw;
        transform: translateX(0%);
    }

    .photo {
        border-radius: 0px;
        object-fit: cover;
        width: 100%;
        height: 20em;
        display: block;
    }

     .more-foto-btn {
        display: block;
        position: absolute;
        font-size: 1rem;
        padding: 10px 16px;
        border-radius: 7px;
        border: none;
        background-color: #696054;
        right: 20px;
        bottom: 20px;
        color: var(--text-light);
    }

    .photo-and-distance-btn {
        position: relative;;
    }

    .distance {
        display: none;
    }
}