.footer-section {
    display: flex;
    flex-direction: row;
    background-color: var(--bg-footer);
    min-height: 40%;
    padding: 20px 40px;
    gap: 60px;
}

@media (max-width: 768) {
    .footer-section {
        display: flex;
        flex-direction: column;
        background-color: var(--bg-footer);
        min-height: 40%;
        padding: 20px 16px;
        gap: 50px;
    }

    /* .footer-logo {
        width: 178px;
        height: 38px;
    } */

    .footer-nav {
        display: none;
    }

    .policy-link-wrapper__desktop {
        display: none;
    }

    .policy-link {
        color: #ccc;
        text-decoration-line: underline;
    }

    .social-logo-wrapper {
        margin-bottom: 20px;
        justify-content: center;
    }

    .footer-adress {
        gap: 10px;
    }

    .social-logo-wrapper {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
    }


}

.policy-link-wrapper__mobile {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.policy-link-wrapper__mobile p {
   color: #ccc;
}

@media (min-width: 769px) {
    .policy-link-wrapper__mobile {
       display: none;
    }
}

.footer-logo__desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    color: #ccc;
    align-items: center;
}

.policy-link-wrapper__desktop {
    align-self: flex-end;
}

.policy-link {
    text-decoration-line: underline;
}

.footer-nav {
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    margin-bottom: 6px;
}

.work-time {
    width: 410px;
}

.h4 {
    font-family: var(--font-dzuarikau);
    font-size: 36px;
    color: #887e71;
    font-weight: lighter;
    line-height: 1;
    margin-bottom: 16px;
}

.li {
    margin-bottom: 16px;
}

.footer-adress {
    display: flex;
    flex-direction: column;
}

.adress-text{
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: white;
    margin-bottom: 20px;
}

.social-logo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}
