.pool-foto-section {
    display: flex;
    width: 100vw;
    flex-direction: column;
    position: relative;
    padding: 0px 40px;
    gap: 10px;
    margin-bottom: 100px;
}

.one-foto-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 530px;
    max-width: 100vw;
    overflow: hidden;
    border-radius: 12px;
}

.pool-info-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 800px;
    height: calc(100% - 20px);

    left: 50%;
    bottom: 10px;
    margin-right: 100px;
}

.pool-info-box__left {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 800px;
    height: calc(100% - 20px);

    right: 50%;
    bottom: 10px;
    margin-left: 100px;
}

.pool-info-box, .pool-info-box__left {
    color: var(--text-light);
}

.price-work-days-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 10px;
}

.price-work-days-wrapper__left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 10px;
}

.price-work-days-wrapper__desktop {
    display: flex;
    flex-direction: row;
    gap: 6em;
}

.price-work-days-item {
    display: flex;
    flex-direction: column;
    min-width: 15%;
}

.price-work-days-item h5 {
    color: var(--text-light);
    font-size: 25px;
    font-weight: lighter;
    /* align-self: center; */
}

.price-work-days-item__p {
    color: var(--text-light);
    font-size: 16px;
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

.price-work-days-item span {
    color: #C2C2C2;
    font-weight: lighter;
}

.price-work-days-item__left h5 {
    color: var(--text-light);
    font-size: 25px;
    font-weight: lighter;
}

.price-work-days-item__left span {
    color: #C2C2C2;
    font-weight: lighter;
}

.pool-sizes-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-bottom: 60px;
}

.pool-sizes-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.book-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.book-button-wrapper__left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.pool-info-box-title {
    font-family: var(--font-dzuarikau);
    font-size: 42px;
    font-weight: lighter;
    text-align: left;
    color: #E9A94F;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 40px;
}

.two-foto-wrapper {
    display: flex;
    width: 100%;
    height: 404px;
    gap: 10px;
}

.three-foto-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 304px;
    gap: 10px;

}

.one-foto {
    flex: 1 1 calc(33.333% - 14px);
    min-width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.pool-tags-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.sauna-tags-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.pool-service-icon__mobile,
.mobile-foto,
.pool-sizes-container__none,
.price-work-days-item__none,
.sauna-tags-container__none,
.price-work-days-wrapper__mobile {
    display: none;
}





/* @media (max-width: 1625px) {
    .sauna-tags-container {
        margin-bottom: 40px;
    }
} */

@media (max-width: 1507px) {
    .price-work-days-item__p {
        margin-bottom: 30px;
    }
}


@media (max-width: 1411px) {
    .pool-sizes-container {
        margin-bottom: 50px;
    }

}





@media (max-width: 1386px) {
    .pool-info-box {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        padding: 20px 20px;
        border-radius: 10px;
        max-width: 800px;
        height: calc(100% - 20px);
        bottom: 10px;
        left: 50%;
    }

    .pool-info-box__left {
        display: flex;
        flex-direction: column;
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(10px);
        padding: 20px 20px;
        border-radius: 10px;
        max-width: 800px;
        right: 50%;
        height: calc(100% - 20px);
        bottom: 10px;
    }

    .price-work-days-item p {
        font-size: 14px;
    }

    .price-work-days-wrapper__mobile {
        display: flex;
        flex-direction: row;
        gap: 3em
    }

    .pool-tags-container {
        margin-bottom: 40px;
    }

}




@media (max-width: 1374px) {
    .pool-sizes-container {
        margin-bottom: 30px;
    }

    .description {
        margin-bottom: 30px;
    }

    .pool-tags-container {
        margin-bottom: 30px;
    }
}




@media (max-width: 1177px) {
     .pool-sizes-container {
        margin-bottom: 20px;
    }

    .description {
        margin-bottom: 30px;
    }

    .pool-tags-container {
        margin-bottom: 20px;
    }
}




@media (max-width: 1131px) {
    .price-work-days-item p {
        font-size: 12px;
    }

    .price-work-days-item__p {
        margin-bottom: 10px;
    }
}






@media (max-width: 768px) {
    .pool-foto-section {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
        padding: 0;
    }

    .one-foto-wrapper {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: auto;
        max-width: 100vw;
        overflow: visible;
        border-radius: 0px;
    }

    .mobile-foto {
        display: block;
        width: 100vw;
    }

    .pool-info-box {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #696054;
        backdrop-filter: unset;
        padding: 16px 16px;
        border-radius: 0px;
        max-width: 100vw;
        right: 0%;
        height: 470px;
        bottom: 20px;
        gap: 20px;
        height: max-content;
        left: 0%;
        margin-right: 0;
    }

    .pool-info-box__left {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #696054;
        backdrop-filter: unset;
        padding: 16px 16px;
        border-radius: 0px;
        max-width: 100vw;
        left: 0%;
        height: 470px;
        bottom: 20px;
        gap: 20px;
        height: max-content;
        margin-left: 0;
    }

    .one-foto,
    .two-foto-wrapper,
    .three-foto-wrapper,
    .pool-service-icon,
    .price-work-days-wrapper__desktop {
        display: none;
    }

    .price-work-days-wrapper-book-button__mobile {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .price-work-days-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 25px;
    }

    .price-work-days-wrapper__left {
        margin: 0px;
    }

    .price-work-days-item__p {
        margin-bottom: 0px;
    }

    .price-work-days-wrapper__mobile {
        display: flex;
        flex-direction: row;
        gap: 6em;
    }

    .pool-sizes-container {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .pool-tags-container {
        margin-bottom: 0px;
    }

    .description {
        margin-bottom: 0px;
    }

    .pool-service-icon__mobile {
        display: block;
    }

    .sauna-tags-container {
        margin-bottom: 0px;
    }

    .book-button-wrapper {
        justify-content: flex-end;
    }

    .book-button-wrapper__left {
        width: auto;
        align-items: end;
    }

}




@media (min-width: 1600px) {
    .price-work-days-item__p {
        margin-bottom: 60px;
    }
}