.pool-foto-section {
    display: flex;
    width: 100vw;
    flex-direction: column;
    position: relative;
    padding: 0px 40px;
    gap: 20px;
    margin-bottom: 100px;
}

.one-foto-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 504px;
    max-width: 100vw;
    overflow: hidden;
    border-radius: 12px;
}

.pool-info-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 700px;
    right: 7%;
    height: 470px;
    bottom: 20px;
    gap: 20px;
}

.pool-info-box__left {
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px 20px;
    border-radius: 10px;
    max-width: 700px;
    left: 7%;
    height: 470px;
    bottom: 20px;
    padding: 15px 15px;
    gap: 20px;
}

.pool-info-box p {
    color: var(--text-light);
}

.pool-info-box__left p {
    color: var(--text-light);
}

.price-work-days-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 25px;
}

.price-work-days-wrapper__left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 17px;
}

 .price-work-days-wrapper__mobile{
    display: flex;
    flex-direction: row;
    gap: 6em
}

.price-work-days-item {
    display: flex;
    flex-direction: column;
    min-width: 15%;
}

.price-work-days-item h5 {
    color: var(--text-light);
    font-size: 25px;
    font-weight: lighter;
}

.price-work-days-item__h5 {
    color: var(--text-light);
    font-size: 16px;
    font-weight: lighter;
}

.price-work-days-item span {
    color: #C2C2C2;
    font-weight: lighter;
}

.price-work-days-item__none {
    display: none;
}

.price-work-days-item__left h5 {
    color: var(--text-light);
    font-size: 25px;
    font-weight: lighter;
}

.price-work-days-item__left span {
    color: #C2C2C2;
    font-weight: lighter;
}

.book-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.book-button-wrapper__left {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.pool-info-box-title {
    font-family: var(--font-dzuarikau);
    font-size: 42px;
    font-weight: lighter;
    text-align: left;
    color: #E9A94F;
}

.two-foto-wrapper {
    display: flex;
    width: 100%;
    height: 404px;
    gap: 20px;
}

.three-foto-wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 304px;
    gap: 20px;

}

.one-foto {
    /* flex: 1; */
    flex: 1 1 calc(33.333% - 14px);
    min-width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.pool-service-icon__mobile {
    display: none;
 }



@media (max-width: 768) {
    .pool-foto-section {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 100px;
        padding: 0;
    }

    .one-foto-wrapper {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: auto;
        max-width: 100vw;
        overflow: visible;
        border-radius: 0px;
    }

    .one-foto {
        display: none;
    }

    .mobile-foto {
        width: 100vw;
    }

    .pool-info-box {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #696054;
        backdrop-filter: unset;
        padding: 16px 16px;
        border-radius: 0px;
        max-width: 100vw;
        right: 0%;
        height: 470px;
        bottom: 20px;
        gap: 20px;
        height: max-content;
    }

    .pool-info-box__left {
        display: flex;
        flex-direction: column;
        position: relative;
        background: #696054;
        backdrop-filter: unset;
        padding: 16px 16px;
        border-radius: 0px;
        max-width: 100vw;
        left: 0%;
        height: 470px;
        bottom: 20px;
        gap: 20px;
        height: max-content;
    }

    .two-foto-wrapper {
        display: none;
    }

    .three-foto-wrapper {
        display: none;
    }

    .price-work-days-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        margin-bottom: 25px;
    }

    .price-work-days-wrapper__mobile{
        display: flex;
        flex-direction: row;
        gap: 6em;
    }

    .pool-service-icon__mobile {
        display: block;
    }

    .pool-service-icon{
        display: none;
    }
}