.h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: 112px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: var(--font-dzuarikau);
    z-index: 30;
}

.rest-bg-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.rest-bg {
    object-fit: cover;
    z-index: 0;
}

@media (max-width: 768px) {
    .h1 {
        font-size: 66px;
    }
}
