/* .rest-bg-container {
    position: relative;
    width: 100%;
    height: 100vh;
} */

.h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: lighter;
    font-size: 112px;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: var(--font-dzuarikau);
    z-index: 30;
}

.rest-bg__desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}

.rest-bg__mobile {
   display: none;
}







@media (max-width: 768px) {
    .rest-bg__desktop {
            display: none;
    }

    .h1 {
        font-size: 66px;
    }

    
     .rest-bg__mobile {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

}
