.page {
  --bg-main: #8b7d71;
  --bg-footer: #696054;
  --foreground: #fff;

  --text-light: #fff;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  background-color: var(--bg-main);
}


