.page {
  --bg-main: #8b7d71;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;
  --text-light: #fff;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* align-items: center; */
  /* justify-content: center; */
  font-family: var(--font-geist-sans);
  background-color: var(--bg-main);
}

.main {
  display: flex;
  /* min-height: 100vh; */
  /* width: 100%; */
  /* max-width: 800px; */
  flex-direction: column;
  gap: 180px;
  /* align-items: flex-start; */
  /* justify-content: space-between; */
  background-color: var(--bg-main);
  /* padding: 120px 60px; */
}
