.foto-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
    padding: 0 40px;
}

.foto-section-left {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    width: 100%;
    padding: 0 40px;
}

.foto-container {
    display: flex;
    flex: 1;
    width: 50%;
    overflow: hidden;
    gap: 12px;
    border-radius: 10px 0 0 10px;
    background-color: #696054;
}

.left-foto-wrapper {
    flex: 1;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
} 

.left-image {
    width: 100%;
    height: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.top-foto-wrapper {
    flex: 1;
    height: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.top-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
    gap: 12px;
}

.left-bottom-wrapper {
    flex: 1;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.right-bottom-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
    align-items: center;
}

.left-bottom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-bottom-image {
    filter: blur(5px);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-container {
    flex: 1;
    background-color: #696054;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    padding: 20px 12px;
    color: var(--text-light);
}

.span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.h2 {
    font-family: var(--font-dzuarikau);
    font-weight: lighter;
    line-height: 0.88;
    font-size: 48px;
    margin-bottom: 10px;
    color: #e9a94f;
}

.paragraph {
    /* font-size: 14px; */
    font-weight: 400;
    color: white;
    margin-bottom: 16px;
}

.room-service-icon-werapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.room-service-icon {
    margin-bottom: 30px;
}

.price {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: lighter;
    color: white;
}

.price span {
    font-size: 16px;
    font-weight: 400;
    color: #c2c2c2;
    margin-bottom: 15px;
}