.foto-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    width: 100%;
    padding: 0 40px;
}

.foto-section__right {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    width: 100%;
    padding: 0 40px;
}

.foto-container {
    display: flex;
    flex: 1;
    width: 50%;
    overflow: hidden;
    gap: 12px;
    border-radius: 10px 0 0 10px;
    background-color: #696054;
}

.foto-container__right {
    display: flex;
    flex: 1;
    width: 50%;
    overflow: hidden;
    gap: 12px;
    border-radius: 0 10px 10px 0;
    background-color: #696054;
}

.left-foto-wrapper {
    flex: 1;
    width: 100%;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.left-foto-wrapper__right {
    flex: 1;
    width: 100%;
    overflow: hidden;
} 

.left-image {
    width: 100%;
    height: 100%;
}

.right-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 12px;
}

.top-foto-wrapper {
    flex: 1;
    height: 50%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.top-foto-wrapper__right {
    flex: 1;
    height: 50%;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.top-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-wrapper {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: 100%;
    gap: 12px;
}

.left-bottom-wrapper {
    flex: 1;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.right-bottom-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    justify-content: center;
    align-items: center;
}

.right-bottom-wrapper__right {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    justify-content: center;
    align-items: center;
}

.left-bottom-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-bottom-image {
    filter: blur(5px);
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    
}

.description-container {
    flex: 1;
    background-color: #696054;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    padding: 20px 12px;
    color: var(--text-light);
}

.description-container__right {
    flex: 1;
    background-color: #696054;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow: hidden;
    padding: 20px 12px;
    color: var(--text-light);
}

.span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.h2 {
    font-family: var(--font-dzuarikau);
    font-weight: lighter;
    line-height: 0.88;
    font-size: 48px;
    margin-bottom: 10px;
    color: #e9a94f;
}

.h2-and-more-place-btn {
    display: flex;
    flex-direction: row;
}

.more-place-btn {
    display: flex;
    width: min-content;
    height: fit-content;
    padding: 10px 17px;
    border-radius: 10px;
    background-color: rgba(233, 169, 79, 0.18);
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #C2C2C2;
    border: none;
    cursor: pointer;
}

.paragraph {
    font-weight: 400;
    color: white;
    margin-bottom: 16px;
}

.room-service-icon-werapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.room-service-icon {
    margin-bottom: 30px;
}

.price {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: lighter;
    color: white;
}

.price__flex-end {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 24px;
    font-weight: lighter;
    color: white;
}

.price span {
    font-size: 16px;
    font-weight: 400;
    color: #c2c2c2;
    margin-bottom: 15px;
}

.price__flex-end  span {
    font-size: 16px;
    font-weight: 400;
    color: #c2c2c2;
    margin-bottom: 15px;
}

.price-and-guests {
    display: flex;
    flex-direction: column;
}

.mobile-image {
    display: none;
}

.more-foto-btn {
    display: none;
}

@media (max-width: 768px) {
    .foto-section {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0px 0px;
    }

    .foto-section__right {
        flex-direction: column;
        margin-bottom: 50px;
        padding: 0px;
    }

    .foto-container {
        width: 100%;
        border-radius: 0px 0 0 0px;
    }

    .foto-container__right {
        position: relative;
        width: 100%;
        border-radius: 0px 0 0 0px;
    }

    .left-foto-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0px;
    }

    .more-foto-btn {
        position: absolute;
        display: block;
        font-size: 1rem;
        padding: 10px 16px;
        border-radius: 7px;
        border: none;
        background-color: #696054;
        right: 16px;
        bottom: 16px;
        color: var(--text-light);
    }

    .right-column {
        display: none;
    }


    .left-image {
        display: none;
    }

    .mobile-image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .h2 {
        font-size: 2rem;
    }

    .price {
        flex-direction: row;
        justify-content: space-between;
    }

    .price__flex-end {
       flex-direction: row;
        justify-content: space-between;
    }

    .more-place-btn {
        display: none;
    }

    .price-and-guests {
        display: flex;
        flex-direction: column;
    }
}