.mobile-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.h2 {
    font-family: var(--font-dzuarikau);
    font-weight: lighter;
    line-height: 0.90;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #e9a94f;
}





@media (min-width: 769px) {
    .mobile-section {
        display: none;
    }
}