.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--bg-main);
  padding: 10px 0;
  margin-bottom: 100px;
}

@media (max-width: 768) {
  .carousel-container {
    display: none;
  }

}


.carousel-content {
  display: flex;
  animation: marquee 30s linear infinite;
  width: 100%;
  gap: 10px;
}

.image-wrapper {
  flex-shrink: 0;
  /* margin: 0 15px; */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* .image {
  object-fit: cover;
  display: block;
} */

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}