.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

@media (max-width: 480px) {
    .video {
        height: 25em;
    }
}
